<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Student System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Student System</h1>

        <p>Select an option</p>


        <a href="/register">
            <button>
                Register Student
            </button>
        </a>


        <a href="/enter-key">
            <button>
                Enter Unique Key
            </button>
        </a>

    </div>

</body>

</html>