<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Student Details</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Student Details</h1>


        <p>
            <strong>Name:</strong>
            {{ student["name"] }}
        </p>


        <p>
            <strong>Email:</strong>
            {{ student["email"] }}
        </p>


        <p>
            <strong>Contact:</strong>
            {{ student["contact"] }}
        </p>


        <p>
            <strong>Enrollment:</strong>
            {{ student["enrollment"] }}
        </p>


        <p>
            <strong>Unique Key:</strong>
            {{ student["unique_key"] }}
        </p>


        <br>


        <a href="/enter-key">
            Search Another Student
        </a>

        <br><br>

        <a href="/">
            Back to Home
        </a>

    </div>

</body>

</html>